<div class="row">
    <div class="col">
        <div class="h-100">
            <div class="row mb-3 pb-1">
                <div class="col-12">
                    <div class="d-flex align-items-lg-center flex-lg-row flex-column">
                        <div class="flex-grow-1">
                            <!-- <h4 class="fs-16 mb-1">Welcome, Jim!</h4> -->
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="card">
                                        <!-- <div class="card-header">
                                            <h4 class="card-title mb-0">Fee Schedule</h4>
                                        </div> -->
                                        <div class="card-body form-steps">
                                            <div class="text-center pt-3 pb-4 mb-1">
                                                    <h5>Fee Schedule</h5>
                                                </div>
                                            <aw-wizard [navBarLayout]="'large-empty-symbols'" class="nav nav-pills progress-bar-tab custom-nav">

                                            <aw-wizard-step>
                                                <ng-template awWizardStepSymbol>
                                                    <li class="nav-item" role="presentation">
                                                    <button class="nav-link rounded-pill active" data-progressbar="custom-progress-bar" id="pills-gen-info-tab" data-bs-toggle="pill" data-bs-target="#pills-gen-info" type="button" role="tab" aria-controls="pills-gen-info" aria-selected="true">1</button>
                                                    </li>
                                                </ng-template>
                                                <div>
                                                    <div class="mb-4">
                                                        <div class="text-center">
                                                            <h5 class="mb-1">State</h5>
                                                            <p class="text-muted">Select State</p>
                                                        </div>

                                                        <div class="row text-center justify-content-center" >
                                                            <div class="col-12 flex-wrap">
                                                                <div class="hstack">
                                                                    <input type="radio" name="state" class="btn-check" id="btn-check-1" checked>
                                                                    <label class="btn btn-outline-primary" for="btn-check-1">New York</label>

                                                                    <input type="radio" name="state" class="btn-check" id="btn-check-2" >
                                                                    <label class="btn btn-outline-primary" for="btn-check-2">Arizona</label>

                                                                    <input type="radio" name="state" class="btn-check" id="btn-check-3">
                                                                    <label class="btn btn-outline-primary" for="btn-check-3">Albama</label>

                                                                    <input type="radio" name="state" class="btn-check" id="btn-check-4">
                                                                    <label class="btn btn-outline-primary" for="btn-check-4">Georgia</label>

                                                                    <input type="radio" name="state" class="btn-check" id="btn-check-5">
                                                                    <label class="btn btn-outline-primary" for="btn-check-5">Illonis</label>

                                                                    <input type="radio" name="state" class="btn-check" id="btn-check-6">
                                                                    <label class="btn btn-outline-primary" for="btn-check-6">Florida</label>
                                                                    
                                                                    <input type="radio" name="state" class="btn-check" id="btn-check-7">
                                                                    <label class="btn btn-outline-primary" for="btn-check-7">Texas</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- wizard-tab -->
                                                <div class="d-flex align-items-start gap-3 mt-4">
                                                    <button type="button" class="btn btn-success btn-label right ms-auto nexttab nexttab" data-nexttab="pills-info-desc-tab" awNextStep><i class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"></i>Next</button>
                                                </div>
                                            </aw-wizard-step>

                                            <aw-wizard-step>
                                                <ng-template awWizardStepSymbol>
                                                    <li class="nav-item" role="presentation">
                                                    <button class="nav-link rounded-pill " data-progressbar="custom-progress-bar" id="pills-2" data-bs-toggle="pill" data-bs-target="#pills-2" type="button" role="tab" aria-controls="pills-2" aria-selected="true">2</button>
                                                    </li>
                                                </ng-template>
                                                <div>
                                                    <div class="mb-4">
                                                        <div class="text-center">
                                                            <h5 class="mb-1">Foreclosure Type</h5>
                                                            <p class="text-muted">Select Foreclosure Type</p>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="hstack gap-2 flex-wrap">
                                                                    <input type="radio" name="foreclosure" class="btn-check" id="foreclosure-1" checked>
                                                                    <label class="btn btn-outline-primary" for="foreclosure-1">Judicial</label>
                                                                    <input type="radio" name="foreclosure" class="btn-check" id="foreclosure-2" >
                                                                    <label class="btn btn-outline-primary" for="foreclosure-2">Non Judicial</label>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <!-- wizard-tab -->
                                                <div class="d-flex align-items-start gap-3 mt-4">
                                                    <button type="button" class="btn btn-success btn-label right ms-auto nexttab nexttab" data-nexttab="pills-3" awNextStep><i class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"></i>Next</button>
                                                </div>
                                            </aw-wizard-step>


                                            <aw-wizard-step>
                                                <ng-template awWizardStepSymbol>
                                                    <li class="nav-item" role="presentation">
                                                    <button class="nav-link rounded-pill " data-progressbar="custom-progress-bar" id="pills-3" data-bs-toggle="pill" data-bs-target="#pills-3" type="button" role="tab" aria-controls="pills-3" aria-selected="true">3</button>
                                                    </li>
                                                </ng-template>
                                                <div>
                                                    <div class="mb-4" class="text-center">
                                                        <div>
                                                            <h5 class="mb-1">Loan Type</h5>
                                                            <p class="text-muted">Select Loan Type</p>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="hstack gap-2 flex-wrap">
                                                                    <input type="radio" name="LoanType" class="btn-check" id="LoanType-1" checked>
                                                                    <label class="btn btn-outline-primary" for="LoanType-1">FHA</label>
                                                                    <input type="radio" name="LoanType" class="btn-check" id="LoanType-2">
                                                                    <label class="btn btn-outline-primary" for="LoanType-2">VA</label>
                                                                    <input type="radio" name="LoanType" class="btn-check" id="LoanType-3">
                                                                    <label class="btn btn-outline-primary" for="LoanType-3">USDA</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="d-flex align-items-start gap-3 mt-4">
                                                    <button type="button" class="btn btn-success btn-label right ms-auto nexttab nexttab" data-nexttab="pills-4" awNextStep><i class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"></i>Next</button>
                                                </div>
                                            </aw-wizard-step>

                                            <aw-wizard-step>
                                                <ng-template awWizardStepSymbol>
                                                    <li class="nav-item" role="presentation">
                                                    <button class="nav-link rounded-pill " data-progressbar="custom-progress-bar" id="pills-3" data-bs-toggle="pill" data-bs-target="#pills-4" type="button" role="tab" aria-controls="pills-4" aria-selected="true">4</button>
                                                    </li>
                                                </ng-template>
                                                <div>
                                                    <div class="mb-4 text-center">
                                                        <div>
                                                            <h5 class="mb-1">Investor Type</h5>
                                                            <p class="text-muted">Select Investor Type</p>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="hstack gap-2 flex-wrap">
                                                                    <input type="radio" name="Investor-Type" class="btn-check" id="Investor-Type-1" checked>
                                                                    <label class="btn btn-outline-primary" for="Investor-Type-1">FHLMC</label>
                                                                    <input type="radio" name="Investor-Type" class="btn-check" id="Investor-Type-2">
                                                                    <label class="btn btn-outline-primary" for="Investor-Type-2">FNMA</label>
                                                                    <input type="radio" name="Investor-Type" class="btn-check" id="Investor-Type-3">
                                                                    <label class="btn btn-outline-primary" for="Investor-Type-3">USDA</label>
                                                                    <input type="radio" name="Investor-Type" class="btn-check" id="Investor-Type-4">
                                                                    <label class="btn btn-outline-primary" for="Investor-Type-4">OTHER</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- wizard-tab -->
                                                <div class="d-flex align-items-start gap-3 mt-4">
                                                    <button type="button" class="btn btn-success btn-label right ms-auto nexttab nexttab" data-nexttab="pills-5" awNextStep><i class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"></i>Next</button>
                                                </div>
                                            </aw-wizard-step>

                                            <aw-wizard-step>
                                                <ng-template awWizardStepSymbol>
                                                    <li class="nav-item" role="presentation">
                                                    <button class="nav-link rounded-pill " data-progressbar="custom-progress-bar" id="pills-5" data-bs-toggle="pill" data-bs-target="#pills-5" type="button" role="tab" aria-controls="pills-5" aria-selected="true">5</button>
                                                    </li>
                                                </ng-template>
                                                <div>
                                                    <div class="mb-4 text-center">
                                                        <div>
                                                            <h5 class="mb-1">Client</h5>
                                                            <p class="text-muted">Select Client</p>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="hstack gap-2 flex-wrap">
                                                                    <input type="radio" name="Client" class="btn-check" id="Client-1" checked>
                                                                    <label class="btn btn-outline-primary" for="Client-1">BSI Financial</label>
                                                                    <input type="radio" name="Client" class="btn-check" id="Client-2">
                                                                    <label class="btn btn-outline-primary" for="Client-2">Caliber</label>
                                                                    <input type="radio" name="Client" class="btn-check" id="Client-3">
                                                                    <label class="btn btn-outline-primary" for="Client-3">Carrington</label>
                                                                    <input type="radio" name="Client" class="btn-check" id="Client-4">
                                                                    <label class="btn btn-outline-primary" for="Client-4">Cenlar</label>
                                                                    <input type="radio" name="Client" class="btn-check" id="Client-5">
                                                                    <label class="btn btn-outline-primary" for="Client-5">Community Loan Servicing</label>
                                                                    <input type="radio" name="Client" class="btn-check" id="Client-6">
                                                                    <label class="btn btn-outline-primary" for="Client-6">Dovenmuehle</label>
                                                                    <input type="radio" name="Client" class="btn-check" id="Client-7">
                                                                    <label class="btn btn-outline-primary" for="Client-7">Fifth Third Bank</label>
                                                                    <input type="radio" name="Client" class="btn-check" id="Client-8" >
                                                                    <label class="btn btn-outline-primary" for="Client-8">Flagstar Bank</label>
                                                                    <input type="radio" name="Client" class="btn-check" id="Client-9" >
                                                                    <label class="btn btn-outline-primary" for="Client-9">Freedom Mortgage</label>
                                                                    <input type="radio" name="mClient" class="btn-check" id="Client-10" >
                                                                    <label class="btn btn-outline-primary" for="Client-10">Kondaur Capital</label>
                                                                    <input type="radio" name="mClient" class="btn-check" id="Client-11" >
                                                                    <label class="btn btn-outline-primary" for="Client-11">LoanCare</label>
                                                                    <input type="radio" name="mClient" class="btn-check" id="Client-12" >
                                                                    <label class="btn btn-outline-primary" for="Client-12">M&T Bank</label>
                                                                    <input type="radio" name="mClient" class="btn-check" id="Client-13" >
                                                                    <label class="btn btn-outline-primary" for="Client-13">New American Funding</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- wizard-tab -->
                                                <div class="d-flex align-items-start gap-3 mt-4">
                                                    <button type="button" class="btn btn-success btn-label right ms-auto nexttab nexttab" data-nexttab="pills-5" awNextStep><i class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"></i>Next</button>
                                                </div>
                                            </aw-wizard-step>

                                            <aw-wizard-step>
                                                <ng-template awWizardStepSymbol>
                                                    <li class="nav-item" role="presentation">
                                                    <button class="nav-link rounded-pill " data-progressbar="custom-progress-bar" id="pills-6" data-bs-toggle="pill" data-bs-target="#pills-6" type="button" role="tab" aria-controls="pills-6" aria-selected="true">6</button>
                                                    </li>
                                                </ng-template>
                                                <div>
                                                    <div class="mb-4 text-center">
                                                        <div>
                                                            <h5 class="mb-1">Milestone</h5>
                                                            <p class="text-muted">Select Milestone</p>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="hstack gap-2 flex-wrap">
                                                                    <input type="radio" name="milestone" class="btn-check" id="milestone-1" checked>
                                                                    <label class="btn btn-outline-primary" for="milestone-1">File Received</label>
                                                                    <input type="radio" name="milestone" class="btn-check" id="milestone-2" >
                                                                    <label class="btn btn-outline-primary" for="milestone-2">Sale Scheduled</label>
                                                                    <input type="radio" name="milestone" class="btn-check" id="milestone-3" >
                                                                    <label class="btn btn-outline-primary" for="milestone-3">Sale Held</label>
                                                                    <input type="radio" name="milestone" class="btn-check" id="milestone-4" >
                                                                    <label class="btn btn-outline-primary" for="milestone-4">Title Requested</label>
                                                                    <input type="radio" name="milestone" class="btn-check" id="milestone-5" >
                                                                    <label class="btn btn-outline-primary" for="milestone-5">Title Reviewed</label>
                                                                    <input type="radio" name="milestone" class="btn-check" id="milestone-6" >
                                                                    <label class="btn btn-outline-primary" for="milestone-6">Notices Started</label>
                                                                    <input type="radio" name="milestone" class="btn-check" id="milestone-7" >
                                                                    <label class="btn btn-outline-primary" for="milestone-7">First Legal</label>
                                                                    <input type="radio" name="milestone" class="btn-check" id="milestone-8" >
                                                                    <label class="btn btn-outline-primary" for="milestone-8">Foreclosure Sale Package</label>
                                                                    <input type="radio" name="milestone" class="btn-check" id="milestone-9" >
                                                                    <label class="btn btn-outline-primary" for="milestone-9">Foreclosure Sale Held</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="d-flex align-items-start gap-3 mt-4">
                                                    <button type="button" class="btn btn-success btn-label right ms-auto nexttab nexttab" data-nexttab="pills-6" awNextStep><i class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"></i>Submit</button>
                                                </div>
                                            </aw-wizard-step>

                                             <aw-wizard-step>
                                                <ng-template awWizardStepSymbol>
                                                    <li class="nav-item" role="presentation">
                                                    <button class="nav-link rounded-pill" data-progressbar="custom-progress-bar" id="pills-7" data-bs-toggle="pill" data-bs-target="#pills-7" type="button" role="tab" aria-controls="pills-7" aria-selected="false">7</button>
                                                    </li>
                                                </ng-template>
                                                        <div class="mb-2">
                                                            <div class="row">
                                                                <div class="col-xl-3 col-md-6">
                                                                    <div class="card card-animate">
                                                                        <div class="card-body">
                                                                            <div class="d-flex align-items-center">
                                                                                <div class="flex-grow-1">
                                                                                    <p class="text-uppercase fw-semibold text-muted mb-0">Total Allowable Amount</p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="d-flex align-items-end justify-content-between mt-4">
                                                                                <div>
                                                                                    <h4 class="fs-22 fw-semibold ff-secondary mb-4">$<span [CountTo]="1800.25" class="counter-value" [from]="0" [duration]="1"></span>k</h4>
                                                                                </div>
                                                                            </div>
                                                                        </div><!-- end card body -->
                                                                    </div>
                                                                </div>
                                                                <div class="col-xl-3 col-md-6">
                                                                    <div class="card card-animate">
                                                                        <div class="card-body">
                                                                            <div class="d-flex align-items-center">
                                                                                <div class="flex-grow-1">
                                                                                    <p class="text-uppercase fw-semibold text-muted mb-0">Allowable %</p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="d-flex align-items-end justify-content-between mt-4">
                                                                                <div>
                                                                                    <h4 class="fs-22 fw-semibold ff-secondary mb-4"><span [CountTo]="300" class="counter-value" [from]="0" [duration]="1"></span>%</h4>
                                                                                </div>
                                                                            </div>
                                                                        </div><!-- end card body -->
                                                                    </div>
                                                                </div>
                                                                <div class="col-xl-3 col-md-6">
                                                                    <div class="card card-animate">
                                                                        <div class="card-body">
                                                                            <div class="d-flex align-items-center">
                                                                                <div class="flex-grow-1">
                                                                                    <p class="text-uppercase fw-semibold text-muted mb-0">Milestone Allowable Amount</p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="d-flex align-items-end justify-content-between mt-4">
                                                                                <div>
                                                                                    <h4 class="fs-22 fw-semibold ff-secondary mb-4">$<span [CountTo]="540" class="counter-value" [from]="0" [duration]="1"></span>k</h4>
                                                                                </div>
                                                                            </div>
                                                                        </div><!-- end card body -->
                                                                    </div>
                                                                </div>
                                                                <div class="col-xl-3 col-md-6">
                                                                    <div class="card card-animate">
                                                                        <div class="card-body">
                                                                            <div class="d-flex align-items-center">
                                                                                <div class="flex-grow-1">
                                                                                    <p class="text-uppercase fw-semibold text-muted mb-0">Invoiceable Amount</p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="d-flex align-items-end justify-content-between mt-4">
                                                                                <div>
                                                                                    <h4 class="fs-18 fw-semibold ff-secondary mb-4">
                                                                                        N/A
                                                                                    </h4>
                                                                                </div>
                                                                            </div>
                                                                        </div><!-- end card body -->
                                                                    </div>
                                                                </div>
                                                                <div class="col-xl-3 col-md-6">
                                                                    <div class="card card-animate">
                                                                        <div class="card-body">
                                                                            <div class="d-flex align-items-center">
                                                                                <div class="flex-grow-1 text-muted">
                                                                                    <p class="text-uppercase fw-semibold mb-0">Instruction (Milestone)</p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="d-flex align-items-end justify-content-between mt-4">
                                                                                <div class="text-muted">
                                                                                    <p class="fs-18 text-muted ff-secondary mb-4">
                                                                                        N/A
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                        </div><!-- end card body -->
                                                                    </div>
                                                                </div>
                                                                <div class="col-xl-3 col-md-6">
                                                                    <div class="card card-animate">
                                                                        <div class="card-body">
                                                                            <div class="d-flex align-items-center">
                                                                                <div class="flex-grow-1 text-muted">
                                                                                    <p class="text-uppercase fw-semibold mb-0">Instruction (Section)</p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="d-flex align-items-end justify-content-between mt-4">
                                                                                    <p class="fs-18 text-muted ff-secondary mb-4">
                                                                                        N/A
                                                                                    </p>
                                                                            </div>
                                                                        </div><!-- end card body -->
                                                                    </div>
                                                                </div>
                                                                <div class="col-xl-6 col-md-6">
                                                                    <div class="card card-animate">
                                                                        <div class="card-body">
                                                                            <div class="d-flex align-items-center">
                                                                                <div class="flex-grow-1">
                                                                                    <p class="text-uppercase fw-semibold text-muted mb-0">Instruction (Loan Type)</p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="d-flex align-items-end justify-content-between mt-4">
                                                                                <p class="fs-18 text-muted ff-secondary mb-4">
                                                                                    *If the Loan Type is FHA,and the investor is either FNMA,bill fees accordingly
                                                                                </p>
                                                                            </div>
                                                                        </div><!-- end card body -->
                                                                    </div>
                                                                </div>
                                                                <div class="text-center pt-4 pb-2">
                                                                    <div class="mb-4">
                                                                        <lord-icon src="https://cdn.lordicon.com/lupuorrc.json" trigger="loop" colors="primary:#0ab39c,secondary:#405189" style="width:120px;height:120px"></lord-icon>
                                                                    </div>
                                                                    <h5>Your Fee Schedule is Completed !</h5>
                                                                    <p class="text-muted">You will receive confirmation email with details of your schedule.</p>
                                                                  </div>

                                                            </div>
                                                        </div>
                                                        
                                            </aw-wizard-step>


                                            <!-- <aw-wizard-step>
                                                <ng-template awWizardStepSymbol>
                                                    <li class="nav-item" role="presentation">
                                                    <button class="nav-link rounded-pill" data-progressbar="custom-progress-bar" id="pills-info-desc-tab" data-bs-toggle="pill" data-bs-target="#pills-info-desc" type="button" role="tab" aria-controls="pills-info-desc" aria-selected="false">2</button>
                                                    </li>
                                                </ng-template>
                                                <div>
                                                    <div class="text-center">
                                                        <div class="profile-user position-relative d-inline-block mx-auto mb-2">
                                                            <img src="assets/images/users/user-dummy-img.jpg" class="rounded-circle avatar-lg img-thumbnail user-profile-image" alt="user-profile-image">
                                                            <div class="avatar-xs p-0 rounded-circle profile-photo-edit">
                                                                <input id="profile-img-file-input" type="file" class="profile-img-file-input" accept="image/png, image/jpeg">
                                                                <label for="profile-img-file-input" class="profile-photo-edit avatar-xs">
                                                                    <span class="avatar-title rounded-circle bg-light text-body">
                                                                        <i class="ri-camera-fill"></i>
                                                                    </span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <h5 class="fs-14">Add Image</h5>
                                
                                                    </div>
                                                    <div>
                                                        <label class="form-label" for="gen-info-description-input">Description</label>
                                                        <textarea class="form-control" placeholder="Enter Description" id="gen-info-description-input" rows="2"></textarea>
                                                    </div>
                                                </div>
                                                <div class="d-flex align-items-start gap-3 mt-4">
                                                    <button type="button" class="btn btn-link text-decoration-none btn-label previestab" data-previous="pills-gen-info-tab" awPreviousStep><i class="ri-arrow-left-line label-icon align-middle fs-16 me-2"></i>Back</button>
                                                    <button type="button" class="btn btn-success btn-label right ms-auto nexttab
                                    nexttab" data-nexttab="pills-success-tab" awNextStep><i class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"></i>Next</button>
                                                </div>
                                            </aw-wizard-step> -->
                                
                                            <!-- <aw-wizard-step>
                                                <ng-template awWizardStepSymbol>
                                                    <li class="nav-item" role="presentation">
                                                    <button class="nav-link rounded-pill" data-progressbar="custom-progress-bar" id="pills-success-tab" data-bs-toggle="pill" data-bs-target="#pills-success" type="button" role="tab" aria-controls="pills-success" aria-selected="false">3</button>
                                                    </li>
                                                </ng-template>
                                                <div>
                                                    <div class="text-center">
                                                        <div class="mb-4">
                                                        </div>
                                                        <h5>Well Done !</h5>
                                                        <p class="text-muted">You have Successfully Signed Up</p>
                                                    </div>
                                                </div>
                                            </aw-wizard-step> -->

                                            <!-- <aw-wizard-step>
                                                <ng-template awWizardStepSymbol>
                                                    <li class="nav-item" role="presentation">
                                                    <button class="nav-link rounded-pill" data-progressbar="custom-progress-bar" id="pills-gen-info-tab-2" data-bs-toggle="pill" data-bs-target="#pills-gen-info-2" type="button" role="tab" aria-controls="pills-gen-info-2" aria-selected="true">3</button>
                                                    </li>
                                                </ng-template>
                                                <div>
                                                    <div class="mb-4">
                                                        <div>
                                                            <h5 class="mb-1">General Information</h5>
                                                            <p class="text-muted">Fill all Information as below</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="mb-3">
                                                                <label class="form-label" for="gen-info-email-input">Email</label>
                                                                <input type="text" class="form-control" id="gen-info-email-input" placeholder="Enter Email">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="mb-3">
                                                                <label class="form-label" for="gen-info-username-input">User Name</label>
                                                                <input type="text" class="form-control" id="gen-info-username-input" placeholder="Enter User Name">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="form-label" for="gen-info-password-input">Password</label>
                                                        <input type="password" class="form-control" id="gen-info-password-input" placeholder="Enter Password">
                                                    </div>
                                                </div>
                                                <div class="d-flex align-items-start gap-3 mt-4">
                                                    <button type="button" class="btn btn-success btn-label right ms-auto nexttab nexttab" data-nexttab="pills-info-desc-tab" NextStep><i class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"></i>Go to more info</button>
                                                </div>
                                            </aw-wizard-step> -->

                                            </aw-wizard>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>